-- created at {{now()}}
insert into app_public.fixture as f (fixture_id, season_id, stage_id, round_id, group_id, status_detail, home_id, away_id, winner_id, scheduled_at, fin_home, fin_away, ft_home, ft_away, ht_home, ht_away, et_home, et_away, pen_home, pen_away, odds_home, odds_draw, odds_away, deleted)
values
{% for item in data -%}
  ({{ item.id }}, {{ item.season_id }}, {{ item.stage_id }}, {{ item.round_id|ifNil() }}, {{ item.group_id|ifNil() }}, '{{ item.time.status|status -}}', {{ item.localteam_id }}, {{ item.visitorteam_id }}, {{ item.winner_team_id|ifNil() }}, '{{ item.time.starting_at.date_time }}Z', {{ item.scores.localteam_score|ifNil() }}, {{ item.scores.visitorteam_score|ifNil() }}, {{ item.scores.ft_score|home|ifNil() }}, {{ item.scores.ft_score|away|ifNil() }}, {{ item.scores.ht_score|home|ifNil() }}, {{ item.scores.ht_score|away|ifNil() }}, {{ item.scores.et_score|home|ifNil() }}, {{ item.scores.et_score|away|ifNil() }}, {{ item.scores.localteam_pen_score|ifNil() }}, {{ item.scores.visitorteam_pen_score|ifNil() }}, {{ item.odds.data[0].bookmaker.data[0].odds.data[0].value|ifNil() }}, {{ item.odds.data[0].bookmaker.data[0].odds.data[1].value|ifNil() }}, {{ item.odds.data[0].bookmaker.data[0].odds.data[2].value|ifNil() }}, {{ item.deleted }})
  {%- if not loop.last %},{% endif %}
{% endfor -%}
on conflict (fixture_id) do update set
status_detail = excluded.status_detail,
home_id = excluded.home_id,
away_id = excluded.away_id,
winner_id = excluded.winner_id,
scheduled_at = excluded.scheduled_at,
fin_home = excluded.fin_home,
fin_away = excluded.fin_away,
ft_home = excluded.ft_home,
ft_away = excluded.ft_away,
ht_home = excluded.ht_home,
ht_away = excluded.ht_away,
et_home = excluded.et_home,
et_away = excluded.et_away,
pen_home = excluded.pen_home,
pen_away = excluded.pen_away,
odds_home = excluded.odds_home,
odds_draw = excluded.odds_draw,
odds_away = excluded.odds_away,
deleted = excluded.deleted
where f.status != 'FIN';
